
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center mt-2">
    <h1>Thank you, </h1>
    <br />
    <h2>You created a new event </h2>
    <br />
    <h5> Click <a href="Main">here</a>  to return main menu. </h5>

</div>